*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: #393e46;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    padding: 2em;
    background-color:#222831 ;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: larger;
    margin: 2em;

}
#head{
    margin-bottom: 2em;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;

}
input[type=text],select{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    color: black;
    font-size: larger;
}
button{
    color: black;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: larger;
}
.guess{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}
#pguess{
    margin-bottom: 1em;
}